 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  
    <div class="dropdown">
 

</div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/users/" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white;" href="/users/myAccount/{{user.id}}">Accounts</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/users/myBookings/{{user.email}}" style="color: white;">myBookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Notifications</a>
 
        </li> --}}
        
       
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-info dropdown-toggle" href="/users" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.username}}
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" class="btn btn-primary" href="/users/logout" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout</a></li>

    
    
  </ul>
      </form>
    </div>
  </div>
</nav>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">logOut?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/users/logout" class="btn btn-primary">Ok</a>
      </div>
    </div>
  </div>
</div>